.card {
  width: 282px;
  padding-bottom: 25px;
  border-radius: 10px;
  background-color: white;
  color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.card__image {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}
.card__image_yosemite {
  background-image: url(../images/yosemite.jpg);
}
.card__image_lake-louise {
  background-image: url(../images/lake-louise.jpg);
}
.card__image_bald-mountains {
  background-image: url(../images/bald-mountains.jpg);
}
.card__image_latemar {
  background-image: url(../images/latemar.jpg);
}
.card__image_vanoise {
  background-image: url(../images/vanoise.jpg);
}
.card__image_lago {
  background-image: url(../images/lago.jpg);
}
.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 20px 0;
}
.card__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}
.card__button {
  margin: 0;
  padding: 0;
  border: none;
  width: 21px;
  height: 18px;
  background-color: transparent;
  background-image: url(../images/Like-button.svg);
}
.card__button:hover {
  opacity: 50%;
  transition: opacity linear 0.1s;
  cursor: pointer;
}
.card__icon {
  margin: 0;
  padding: 0;
  width: 100%;
}
