.card {
  width: 282px;
  padding-bottom: 25px;
  border-radius: 10px;
  background-color: white;
  color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.card__image {
  height: 282px; /* setting it to 100% make the height 376px for some reason*/
  object-fit: cover;
}
.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 20px 0;
}
.card__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}
.card__button {
  margin: 0;
  padding: 0;
  border: none;
  width: 21px;
  height: 18px;
  background-color: transparent;
  background-image: url(../images/Like-button.svg);
}
.card__button:hover {
  opacity: 50%;
  transition: opacity linear 0.1s;
  cursor: pointer;
}
