.modal {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  opacity: 0;
  transition: opacity 0.2s ease-out, visibility 0.2s;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: white;
  padding: 36px;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  background-image: url("../images/Close.svg");
  border: none;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
  background-repeat: no-repeat;
  background-position: center;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity linear 0.1s;
}

.modal__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.modal__form {
  margin: 54px 0 0;
  max-width: 358px;
  border: none;
}

.modal__input {
  padding: 0;
  width: 100%;
  height: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input:focus {
  outline: none;
}
.modal__field {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 28px;
  display: inline-block;
}
.modal__field:not(:first-child) {
  padding-top: 30px;
}

.modal__button {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 45px 0 0;
  width: 100%;
  height: 45px;
  border-radius: 2px;
  cursor: pointer;
}
.modal__button:hover:enabled {
  opacity: 0.8;
  transition: opacity linear 0.1s;
}
.modal__button_disabled {
  background-color: transparent;
  border: 1px solid #000000;
  color: #000;
  opacity: 0.2;
  cursor: default;
}
.modal__image-container {
  padding: 0;
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
}
.modal__image {
  width: 100%;
  padding-bottom: auto;
}
.modal__caption {
  padding: 0;
  margin: 10px 0 0;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 240px;
}
.modal__error {
  width: 100%;
  color: red;
}
.modal__input_type_error {
  border-bottom: 1px solid red;
}

.modal__input-error_active {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
@media screen and (max-width: 550px) {
  .modal__container {
    padding: 25px 22px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    top: -48px;
    right: 0;
    background-size: contain;
  }
  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }
  .modal__form {
    margin-top: 75px;
  }
}
